
<h3 class="skirmish-teal">Input</h3>
<form>
  <div class="input-group">
    <input class="skirmish-input" id="example-label" placeholder="Example Placeholder">
  </div>
  <div class="input-group">
    <input class="skirmish-input" id="example-label2" placeholder="Example Placeholder">
  </div>
</form>

<div class="spacer"></div>

<h3 class="skirmish-teal">Buttons</h3>
<button class="skirmish-button">Example Button</button>

<div class="spacer"></div>

<div class="card col-12">
  <div class="card-header">
    <h3>Example Card Header</h3>
  </div>
  <div class="card-body">

  </div>
  <div class="card-footer">
    <button class="skirmish-button">Example Button</button>
  </div>
</div>


